<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
                        <meta name="viewport" content="width=device-width, initial-scale=1">
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<meta name="keywords" content="Vappala , Vappalakalam, Vappalakalathil , Ananganadi , Panamanna , Ottappalam , Nair, Menon , ettukettu , naalukettu , traditional, machu, machil bagavathi" />
			
				
			<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


			<!-- Custom Theme files -->
			<link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
			<link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
			<link href="/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
			<link rel="stylesheet" href="/css/lightbox.css">  
			<link rel="stylesheet" href="/css/wrapper.css"> 			
			<link rel="stylesheet" href="/css/news.css"> 
			<!-- //Custom Theme files --> 
			
			<!-- web-fonts -->   
			<link href="//fonts.googleapis.com/css?family=Oranienbaum" rel="stylesheet">
			<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
			<!-- //web-fonts -->
			
			<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
						
			<!-- js -->
			<script src="/js/jquery-2.2.3.min.js"></script>  
			<!-- //js -->
			{% if page.id == "familytree" %}
			 <script src="{{site.baseurl}}/js/familytree.js"></script>
			{% endif %}
			
			<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-164114848-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-164114848-1');
</script>
		
			
		</head>
		<body>
			<!-- header -->
			<div class="header-w3layoutstop">
				<div class="container">  
					<div class="hdr-w3left navbar-left">
						<p><span class="fa fa-mobile"></span> +91 99 72 33 11 66 </p> 
					</div>
					<div class="w3ls-bnr-icons social-w3licon navbar-right">
						<a href="https://twitter.com/vappala" target="_blank" class="social-button twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://www.facebook.com/groups/149235761781716/" target="_blank" class="social-button facebook"><i class="fa fa-facebook"></i></a> 						
					</div>  
				</div>
			</div>
			<!-- navigation -->
			<div class="top-nav w3-agiletop">
				<div class="container">
					<div class="navbar-header w3llogo">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>  
						<h1><a href="{{site.baseurl}}/index.html">Vappala</a></h1> 
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<div class="w3menu navbar-right">
							<ul class="nav navbar">
								<li><a href="{{site.baseurl}}/index.html" {% if page.frontpage %} class="active" {% endif %} >Home</a></li>
								<li><a href="{{site.baseurl}}/index.html#about" class="scroll">About</a></li> 
								<li><a href="{{site.baseurl}}/index.html#temple" class="scroll">Temple</a></li>
								<li><a href="{{site.baseurl}}/index.html#poojas" class="scroll">Poojas</a></li>
								<li><a href="{{site.baseurl}}/index.html#gallery" class="scroll">Gallery</a></li>
								<li><a href="{{site.baseurl}}/index.html#news1" class="scroll">News</a></li>
								<li><a href="{{site.baseurl}}/index.html#contact" class="scroll">Contact</a></li>
							</ul>
						</div> 
						<div class="clearfix"> </div>  
					</div>
				</div>	
			</div>	
			<!-- //navigation -->
			<!-- //header -->
			
			<!-- banner -->
			{% if page.frontpage %}
			
			<div class="agileits-banner bnr-agileinfo"> 
				<div class="container">
					<div class="banner-w3text w3layouts"> 
						<h2>Vappala </h2>
						<div class="w3lsmore">
							<a class="w3-agilebtn scroll" href="{{site.baseurl}}/index.html#about"><span>More About</span></a>
						</div> 
					</div> 
				</div>
			</div>
			
			{% endif %}
			<!-- //banner -->
			
