<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
                        <meta name="viewport" content="width=device-width, initial-scale=1">
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<meta name="keywords" content="Vappala , Vappalakalam, Vappalakalathil , Ananganadi , Panamanna , Ottappalam , Nair, Menon , ettukettu , naalukettu , traditional, machu, machil bagavathi" />
			
				
			<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>


			<!-- Custom Theme files -->
			<link href="/css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
			<link href="/css/style.css" type="text/css" rel="stylesheet" media="all">
			<link href="/css/font-awesome.css" rel="stylesheet"> <!-- font-awesome icons -->
			<link rel="stylesheet" href="/css/lightbox.css">  
			<link rel="stylesheet" href="/css/wrapper.css"> 			
			<link rel="stylesheet" href="/css/news.css"> 
			<!-- //Custom Theme files --> 
			
			<!-- web-fonts -->   
			<link href="//fonts.googleapis.com/css?family=Oranienbaum" rel="stylesheet">
			<link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
			<!-- //web-fonts -->
			
			<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
						
			<!-- js -->
			<script src="/js/jquery-2.2.3.min.js"></script>  
			<!-- //js -->
			
			
		</head>
		<body>
			<!-- header -->
			<div class="header-w3layoutstop">
				<div class="container">  
					<div class="hdr-w3left navbar-left">
						<p><span class="fa fa-mobile"></span> +91 99 72 33 11 66 </p> 
					</div>
					<div class="w3ls-bnr-icons social-w3licon navbar-right">
						<a href="https://twitter.com/vappala" target="_blank" class="social-button twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://www.facebook.com/groups/149235761781716/" target="_blank" class="social-button facebook"><i class="fa fa-facebook"></i></a> 						
					</div>  
				</div>
			</div>
			<!-- navigation -->
			<div class="top-nav w3-agiletop">
				<div class="container">
					<div class="navbar-header w3llogo">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>  
						<h1><a href="/index.html">Vappala</a></h1> 
					</div>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<div class="w3menu navbar-right">
							<ul class="nav navbar">
								<li><a href="/index.html" class="active">Home</a></li>
								<li><a href="/index.html#about" class="scroll">About</a></li> 
								<li><a href="/index.html#temple" class="scroll">Temple</a></li>
								<li><a href="/index.html#poojas" class="scroll">Poojas</a></li>
								<li><a href="/index.html#gallery" class="scroll">Gallery</a></li>
								<li><a href="/index.html#news1" class="scroll">News</a></li>
								<li><a href="/index.html#contact" class="scroll">Contact</a></li>
							</ul>
						</div> 
						<div class="clearfix"> </div>  
					</div>
				</div>	
			</div>	
			<!-- //navigation -->
			<!-- //header -->
			
			<!-- banner -->
			<div class="agileits-banner bnr-agileinfo"> 
				<div class="container">
					<div class="banner-w3text w3layouts"> 
						<h2>Vappala </h2>
						<div class="w3lsmore">
							<a class="w3-agilebtn scroll" href="#about"><span>More About</span></a>
						</div> 
					</div> 
				</div>
			</div>
			<!-- //banner -->
			
			
		
	<!-- welcome -->
	<div class="welcome"> 
		<div class="welcome-agileinfo">
			<div class="col-md-6 agile-welcome-left"> 
				<div class="col-sm-6 col-xs-6 welcome-w3imgs">
					<figure class="effect-chico">
						<img src="images/ga3.jpg" alt="" />
						<figcaption>
							<h4>Family House</h4>
							<p>Believed to be 100s of years old.</p>
						</figcaption>			
					</figure>
				</div>
				<div class="col-sm-6 col-xs-6 welcome-w3imgs">
					<figure class="effect-chico">
						<img src="images/img2.jpg" alt=" " />
						<figcaption>
							<h4>Macchu</h4>
							<p>Diety worshipped by family members.</p>
						</figcaption>			
					</figure>
					<figure class="effect-chico welcome-img2">
						<img src="images/img1.jpg" alt=" " />
						<figcaption>
							<h4>Ananganmala</h4>
							<p>The eco-tourism project nearby.</p>
						</figcaption>			
					</figure>
				</div>
				<div class="clearfix"> </div> 
			</div>
			<div class="col-md-6 agile-welcome-right">
				<h3 class="agileits-title">Welcome </h3>
				<h4>Vappala is  a well known ancient tharavadu in the Valluvanadu region (southern Malabar).</h4>
				<p> This site is meant to keep the interacion between family members alive and also keep the family posted about the activities related to the taravad and macchu </p>
			</div>
			<div class="clearfix"> </div>
		</div> 
	</div>
	<!-- //welcome -->
	
		<!-- about --> 
	<div id="about" class="content-mid">
		<div class="col-sm-3 col-xs-2 content-mid1">
			<div class=" content-mid-img">
			
			</div>
		</div>
		<div class="col-sm-6 col-xs-8 content-mid2">
			<div class=" grid-middle">
				<div class="grid-mid"> 
					<h3 class="agileits-title">About us</h3>
					<p>The family has a history of hundreds of years and is said to have roots from Kozhikode during the Zamorin Era. There are many thavazhis originated from the main tharavadu whose members are spread across different parts of the world </p>  
					<div class="about-w3lsrow"> 
						<div class="bar_group"> 							
							<div class='bar_group__bar thin' label='Vappala &nbsp;&nbsp;' value='250'></div>
							<div class='bar_group__bar thin' label='Pathayappura &nbsp;&nbsp;' value='250'></div>
							<div class='bar_group__bar thin' label='Poozhikunnath &nbsp;&nbsp;' value='250'></div>
							<div class='bar_group__bar thin' label='Chempulli &nbsp;&nbsp;' value='250'></div>  							
						</div> 
					</div>	 	
				</div>
			</div>				
		</div>
		<div class="col-sm-3 col-xs-2 content-mid1">
			<div class=" content-mid-img1">
			
			</div>			
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- //about -->
	
		<!-- temple -->
	<div id="temple" class="services">
		<div class="container">   
			<h3 class="agileits-title">Temple</h3>
            <p>Below are the main deities traditionally  worshiped by the family members. </p> 
            
			<div class="w3-services-grids">
				<div class="col-md-6 col-xs-12 w3l-services-grid">
					<div class="w3l-services-text">
						<div class="w3ls-services-img">
							<i class="fa fa-home" aria-hidden="true"></i>
						</div>
						<div class="agileits-services-info">
							<h4>Machu (Padinjatta)</h4>
							<p align="justify">The main deity in the Machu is "Bhuvaneshwari" worshipped as "Sreechakram" along with two "guru prethams" or ancestors. <br> <br> <br>
                            South - Bhuvaneshwari<br>
                            North - Two Gurupretham in the same mandapam (Vaishnavam) </p>
					  </div>
					</div>
				</div>
				<div class="col-md-6 col-xs-12 w3l-services-grid">
					<div class="w3l-services-text">
						<div class="w3ls-services-img">
							<i class="fa fa-heart-o" aria-hidden="true"></i>
						</div>
						<div class="agileits-services-info">
							<h4>Mandapa pura</h4>
							<p align="justify">Mandapa pura is the abode of Bhadrakali, Vettekkaran and Kiratha Parvathi as idols (swaroopam) and Nagaraja and Nagayakshi as presence(sankalpam)<br>


From South:<br>
Bhadrakali , 
Vettekkaran ,
Kiratha Parvathi (Tvarithabhavam) ,
Brahmarakshassu</p>
					  </div>
					</div>
				</div>
				
				<div class="clearfix"> </div>
			</div> 
		</div>
	</div>
	<!-- //temple -->
    
    <!-- poojas -->
    <div id="poojas" class="news">
		<div class="container"> 
			<h3 class="agileits-title">Poojas</h3> 
             
             <p>Poojas and offerings are conducted annually, monthly and daily in the Machu and Mandapappura as per the chaarthu given by Tantri Akathekunnathu Krishnan Namboodiri after the temple restoration (Punar prathishta). 

These poojas are conducted regularly for the benefit of entire tharavaadu and all family members are requested to participate in them. </p>

			<p><a href="/images/PoojaDetails.pdf" download>Pooja details (Charthu)</a></p>
			

			<div class="w3-agileits-news-grids">
				<div class="col-md-6 news-left">
					<div class="w3-agile-news-date">
						<div class="agile-news-icon">
							<i class="fa fa-calendar" aria-hidden="true"></i>
							<p>Annual</p>
						</div>
						<div class="agileits-line"> </div>
						<div class="agile-news-icon">					
							<p>Edavam</p>
						</div>	
						<div class="agileits-line"> </div>
						<div class="agile-news-icon">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							<p>6:30 AM - 12 PM</p>
						</div>	
					</div>
					<div class="w3-agile-news-img">						
					        <a href="#myModal" data-toggle="modal"><img src="images/annual.jpg" alt="" /></a>
						<h4><a href="#myModal" data-toggle="modal">Annual Pooja</a></h4>
						<div class="info-wrapper">
                        <a href="#" tabindex="1" class="more">Show more</a>
						<a href="#" tabindex="1" class="less">Show less</a>
						<div class="info">
							<p>Special poojas are conducted annually in the malayam month of Edavam (May-June). 
	<br>Special pooja with special naivedyam is conducted for Bhuvaneshwari and the two Guruprethams 
	Guruthi tarpanam for Bhuvaneshwari <br>
	Special naivedya pooja for Bhadrakali , Vettekkaran and Kiratha parvathi and padmam ittu pooja for Brahmarakshassu at mandapapura
	Ganapathi homam <br>
	Padma pooja for Nagaraja and Nagayakshi presence<br>
	Pashu Danam to Bhramins<br>
	Offerings at the temples of Guruvayoor , Kannadimanna Shiva Temple , Thrikkadeeri Moonnumurthy Temple, Thattakathu Bhagavathi , Maakaavu Thiruvilayanaadu Kavu and other linked temples
	</p>
						</div>
						</div>
						
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 news-left">
					<div class="w3-agile-news-date">
						<div class="agile-news-icon">
							<i class="fa fa-calendar" aria-hidden="true"></i>
							<p>Maha Navarathri Pooja</p>
						</div>
						<div class="agileits-line"> </div>
						<div class="agile-news-icon">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							<p>Ashtami</p>
							<p>5:30 PM - 7 PM</p>							
						</div>
						<div class="agileits-line"> </div>			
						<div class="agile-news-icon">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							<p>Maha Navami</p>
							<p>6:30 AM - 7 PM</p>							
						</div>
						<div class="agileits-line"> </div>			
						<div class="agile-news-icon">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							<p>Vijayadashami</p>
							<p>9 AM - 12 PM</p>							
						</div>
						
					</div>
					<div class="w3-agile-news-img">
						<a href="#myModal" data-toggle="modal"><img src="images/nava.jpg" alt="" /></a>
						<h4><a href="#myModal" data-toggle="modal">Maha Navarathri Pooja</a></h4>
						<p>Maha Navarathri pooja is conducted every year for three days as below
						Ashtami : Pooja veppu <br>
					        Maha Navami : Ayuda Pooja <br>
						Vijaya Dashami : Vidhyarambham</p>
					</div>
					<div class="clearfix"> </div>
				</div> 
				<div class="clearfix"> </div>
			</div>
			<div class="w3-agileits-news-grids  news-w3row2">
				<div class="col-md-6 news-left">
					<div class="w3-agile-news-date">
						<div class="agile-news-icon">
							<i class="fa fa-calendar" aria-hidden="true"></i>
							<p>Monthly Pooja</p>
						</div>
						<div class="agileits-line"> </div>
						<div class="agile-news-icon">					
							<p>Muppettu Velli</p>
						</div>	
						<div class="agileits-line"> </div>
						<div class="agile-news-icon">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							<p>9 AM - 12 PM</p>
						</div>	
					</div>
					<div class="w3-agile-news-img">
						<a href="#myModal" data-toggle="modal"><img src="images/monthly.jpg" alt="" /></a>
						<h4><a href="#myModal" data-toggle="modal">Monthly poojas</a></h4>
						<p>Monthly poojas as below are conducted on the first friday of every malayalam month(Muppettu Velli) by a Brahmin priest

Special poojas with neivedyam is offered to Bhuvaneshwari and gurupredams in the padinjattini
At the mandapapura, special poojas with naivedyam for Bhadrakali , Vettekkaran and Kiratha parvathi </p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-6 news-left">
					<div class="w3-agile-news-date">
						<div class="agile-news-icon">
							<i class="fa fa-calendar" aria-hidden="true"></i>
							<p>Daily Pooja</p>
						</div>
						<div class="agileits-line"> </div>
						<div class="agile-news-icon">
							<i class="fa fa-clock-o" aria-hidden="true"></i>
							<p>8 AM - 9 AM</p>
						</div>
						
					</div>
					<div class="w3-agile-news-img">
						<a href="#myModal" data-toggle="modal"><img src="images/daily.jpg" alt="" /></a>
						<h4><a href="#myModal" data-toggle="modal">Daily Pooja</a></h4>
						<p>Daily pooja is done at Machu and Mandapappura by the family member as per the custom instructions </p>
					</div>
					<div class="clearfix"> </div>
				</div> 
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //poojas -->
	
		<!-- gallery -->
	<div id="gallery" class="gallery"> 
		<h3 class="agileits-title">Gallery</h3> 
		<div class="gallery-w3lsrow">
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="images/ga1.jpg" data-lightbox="example-set" data-title="Family members during a pooja">
						<img src="images/ga1.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="view-caption">
							<h5>Gallery</h5>
							<span class="glyphicon glyphicon-search"></span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="images/ga2.jpg" data-lightbox="example-set" data-title="Family members during pooja">
						<img src="images/ga2.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="view-caption">
							<h5>Gallery</h5>
							<span class="glyphicon glyphicon-search"></span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="images/ga3.jpg" data-lightbox="example-set" data-title="Family house">
						<img src="images/ga3.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="view-caption">
							<h5>Gallery</h5>
							<span class="glyphicon glyphicon-search"></span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="images/ga4.jpg" data-lightbox="example-set" data-title="Special naivedyam preparation">
						<img src="images/ga4.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="view-caption">
							<h5>Gallery</h5>
							<span class="glyphicon glyphicon-search"></span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="images/ga5.jpg" data-lightbox="example-set" data-title="Guruthi during annual pooja">
						<img src="images/ga5.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="view-caption">
							<h5>Gallery</h5>
							<span class="glyphicon glyphicon-search"></span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="images/ga6.jpg" data-lightbox="example-set" data-title="Monthly pooja in progress">
						<img src="images/ga6.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="view-caption">
							<h5>Gallery</h5>
							<span class="glyphicon glyphicon-search"></span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="images/ga7.jpg" data-lightbox="example-set" data-title="Visiting peacocks">
						<img src="images/ga7.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="view-caption">
							<h5>Gallery</h5>
							<span class="glyphicon glyphicon-search"></span>
						</div>
					</a>
				</div>
			</div>
			<div class="col-sm-3 col-xs-6 gallery-grids">
				<div class="w3ls-hover">
					<a href="images/ga8.jpg" data-lightbox="example-set" data-title="The paddy field">
						<img src="images/ga8.jpg" class="img-responsive zoom-img" alt=""/>
						<div class="view-caption">
							<h5>Gallery</h5>
							<span class="glyphicon glyphicon-search"></span>
						</div>
					</a>
				</div>
			</div>  
			<div class="clearfix"> </div> 
		</div>
		<!--  light box js -->
		<script src="js/lightbox-plus-jquery.min.js"> </script> 
		<!-- //light box js--> 
	</div>  
	<!-- //gallery -->
	
	
	<!-- news -->
	<div id="news1" class="news">
		<div class="container"> 
			<h3 class="agileits-title">News</h3> 		
			<ul id="easyPaginate">
			  {% for post in site.posts %}			    
				<li class="news-item" style="color:#fff;">
				   <table cellpadding="4">
				    <tr>
					<td><img src={{ post.icon }} alt="News" width="60" class="img-circle" /></td>
					<td><a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a> <br>
					   <span style="color:#555;">{{ post.date | date_to_string }}</span>  </td>
					<td>{{ post.content }} 	</td>
				   <tr>
				   </table>
				</li>			
			  {% endfor %}
			</ul>	
			
		
			
			
		</div>
	</div>
	<!-- //news -->
    
    <!-- subscribe -->
	<div class="subscribe">
		<div class="container">
			<h3 class="agile-w3title">Keep in touch</h3>
			<form name ="subscribe" action= "https://formspree.io/vappala.info@gmail.com" method="post"> 
				<input type="text" name="name" placeholder="Your Name" required="">
				<input type="email" name="email" placeholder="Your Email" required="">
				<input type="submit" value="Submit">
				<div class="clearfix"> </div>
			</form>  
			<p class="spam">No spamming :) We will only add you to the facebook family group</p>
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- //subscribe -->
	
	<!-- map -->
	<div id="contact" class="map">
		<!-- <iframe src="" ></iframe> -->
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3918.6365054693156!2d76.3402588!3d10.8391045!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7da6cd9cda745%3A0xeacdbce08336433b!2sVappalakalathil!5e0!3m2!1sen!2sin!4v1505386725335" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
		
		<div class="map-pos">
			<h3>Address</h3>
			<p>Vappalakalam</p>
			<p>Ottappalam</p>
			<p>Ph : +91 99 72 33 11 66</p>
			<p><a href="mailto:vappala.info@gmail.com">vappala.info@gmail.com</a></p>
		</div>
		<div class="clearfix"></div>
	</div>
	<!-- //map -->
       		
	<!-- contact -->
	<div class="contact">
		<div class="container">
			<h3 class="agileits-title">Contact</h3>
			<form name="contact" action="https://formspree.io/vappala.info@gmail.com" method="post">
				<div class="col-sm-6 contact-left">
					<input type="text" name="Name" placeholder="Your Name" required="">
					<input type="email" name="Email" placeholder="Email" required="">
					<input type="text" name="Mobile Number" placeholder="Mobile Number" required="">
				</div>
				<div class="col-sm-6 contact-right"> 
					<textarea name="Message" placeholder="Message" required=""></textarea>
					<input type="submit" value="Submit" >
				</div>
				<div class="clearfix"></div>
			</form>
		</div>
	</div> 
	<!-- //contact -->
    
    			
	
			
			<!-- footer -->
			<div class="footer">
				<div class="container"> 
					<p><span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>+91 99 72 33 11 66</p>
					<div class="social-w3licon">
						<a href="https://twitter.com/vappala" target="_blank" class="social-button twitter"><i class="fa fa-twitter"></i></a>
						<a href="https://www.facebook.com/groups/149235761781716/" target="_blank" class="social-button facebook"><i class="fa fa-facebook"></i></a>						 
					</div>      
				</div>
			</div>
			<div class="copy-right">
				<div class="container">
					<p>&copy; 2017 Vappala. All rights reserved </p>
				</div>
			</div>
			
			<!-- start-smooth-scrolling -->
			<script src="/js/SmoothScroll.min.js"></script> 
			<script type="text/javascript" src="/js/move-top.js"></script>
			<script type="text/javascript" src="/js/easing.js"></script>	
			<script type="text/javascript">
					jQuery(document).ready(function($) {
						$(".scroll").click(function(event){		
							event.preventDefault();

					$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
						});
					});
			</script>
			<!-- //end-smooth-scrolling -->	
			<!-- smooth-scrolling-of-move-up -->
			<script type="text/javascript">			
				jQuery(document).ready(function($) {	

					$().UItoTop({ easingType: 'easeOutQuart' });

				});
			</script>
			<!-- //smooth-scrolling-of-move-up -->  
			
			<!-- bar-js -->
			<script src="/js/bars.js"></script>
			<!-- //bar-js --> 
			
			<!-- click expand-->
			<script type="text/javascript">
				$('.more').click(function(){
				$(this).animate({'opacity': '0'}, 1000);
				$('.less').animate({
					'opacity': '1', 
					'z-index': '1'
				}, 1000);
				$('.info').animate({'height': '30em'}, 1000);		
			return false;

			});
			$('.less').click(function(){
				$(this).animate({
					'opacity': '0',
					'z-index': '-1'
				}, 1000);
				$('.more').animate({'opacity': '1'}, 1000);
				$('.info').animate({'height': '120px'}, 1000);
				 return false;
			});	
			</script>
			<!-- //click expand-->
			
			<!-- news -->
			<!-- <script type="text/javascript">
				$(function () {
					$("#news").bootstrapNews({
						newsPerPage: 3,
						autoplay: false,

						onToDo: function () {
							//console.log(this);
						}
					});
				});
			</script> -->
			<!-- //news -->
			
			<!-- //pagination -->
			<script src="/js/jquery-latest.js"></script>
                        <script src="/js/jquery.easyPaginate.js"></script>
			
			<script type="text/javascript">
			$(function () {
				$('#easyPaginate').easyPaginate({
				    paginateElement: 'li',
				    elementsPerPage: 5,
				    effect: 'climb'
				});
			});
			</script>
			
			<!-- //pagination -->

			<!-- Bootstrap core JavaScript
		    ================================================== -->
		    <!-- Placed at the end of the document so the pages load faster -->
		    <script src="/js/bootstrap.js"></script>
			
		</body>
	</html>
